$font-family: "Lato", sans-serif;
$border: 10px solid;
$small-border: 8px solid #4d4d4d;
$text-shadow: 0 0 $border white;

.arrows {
	padding-top: 2rem;
}
.keys {
	font-family: $font-family;
	text-align: center;
	width: 365px;
	height: 12.5rem;
	margin: 1rem;
}
.arr {
	cursor: pointer;
	width: 6.25rem;
	height: 6.25rem;
	text-align: center;
	line-height: 6.25rem;
	background: grey;
	color: white;
	font-size: 55px;
	border-right: $border #b8b8b8;
	border-bottom: $border #242222;
	border-left: $border #5a5a5a;
	border-top: $border #a09b9b;
	display: inline-block;
	margin: 2px;
	transition: all 0.05s linear;
	user-select: none;
	&:active {
		border-bottom: $small-border;
		text-shadow: $text-shadow, $text-shadow, 0 0 20px white;
		transform: translate(0, 2px);
	}
}
.up {
	position: relative;
	top: -2px;
}
.pressed {
	border-bottom: $small-border;
	text-shadow: $text-shadow;
	transform: translate(0, 2px);
}
.names {
	font-size: 14px;
	font-family: $font-family;
	text-align: center;
	color: white;
	text-shadow: $text-shadow, $text-shadow, $text-shadow, $text-shadow;
}
