@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$grey: #707070;

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

select {
    text-transform: none;
}

input,
select,
textarea {
    color: #5a5a5a;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

.container-fluid {
    margin: 60px auto;
    position: relative;
    .section-title {
        border: none !important;
        form {
            margin: 50px 0;
            width: 50rem;
        }
    }
}


.email {
    float: right;
    width: 45%;
}

input[type="text"],
[type="email"],
select,
textarea {
    background: none;
    border: none;
    border-bottom: solid 2px $grey;
    color: $grey;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message {
    float: none;
}

.name {
    float: left;
    width: 45%;
}

select {
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png") no-repeat right;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.subject {
    width: 100%;
}

.telephone {
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: $grey;
}

:-moz-placeholder {
    color: $grey;
    opacity: 1;
}

::-moz-placeholder {
    color: $grey;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $grey;
}


@media screen and (max-width: 768px) {
    #container-fluid {
        margin: 20px auto;
        width: 95%;
    }
}


@media screen and (max-width: 420px) {
    input[type="text"],
    [type="email"],
    select,
    textarea {
        font-size: 0.875em;
    }
}