/* icons and fonts */
@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Playfair+Display:wght@900&display=swap");

/*--------------------------------------------------------------
  # Variables
--------------------------------------------------------------*/
$limit-justify-content: center;
$limit-align-items: center;
$devcard-justify-content: center;
$grey: #707070;
$white: #fff;
$black: rgb(22, 19, 19);
$light-blue: #87e3fe;
$dark-blue: #25569b;
$white: rgb(238, 236, 236);
$font-family: "Playfair Display", serif;
$font-family-0: "PT Sans Narrow", sans-serif;
$bold-font-weight: 700;
$border-radius: 0.25rem;
$hover-transition: all 150ms ease;
$linkedin: #0a66c2;
$twitter: #56b9ff;
$gmail: #d93025;
$genuine_black: #171717;
:root {
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: $font-family;
    width: 100%;

    p {
        font-family: $font-family-0;
        font-size: 1.25rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    ul,
    li {
        font-family: $font-family;
    }
}

/*--------------------------------------------------------------
  # Buttons
--------------------------------------------------------------*/

.btn {
    display: inline-block;
    padding: 0.75rem 1rem 0.5rem;
    font-size: 1rem;
    line-height: 1.25;
    margin: 1rem;
    background-color: $dark-blue;
    border-radius: $border-radius;
    text-decoration: none;
    font-weight: $bold-font-weight;
    color: $grey;
    text-align: center;
    box-shadow: inset 0 0 0 2px $dark-blue;
    transition: $hover-transition;

    &:focus {
        box-shadow: inset 0 0 0 2px $grey;
        outline: none;
    }
}

/*--------------------------------------------------------------
  # Images
--------------------------------------------------------------*/

img {
    max-width: 100%;
    object-fit: contain;
}

/*--------------------------------------------------------------
  # Links
--------------------------------------------------------------*/

a {
    color: $dark-blue;
    text-decoration: none;

    &:hover {
        color: $grey;
    }
}

.cursor-muted {
    cursor: unset;
}

/*--------------------------------------------------------------
  # Navigation Bar (Desktop)
--------------------------------------------------------------*/

.bg-body-tertiary {
    background-color: $grey !important;
    box-shadow: 0px 5px 17px 4px rgba(68, 68, 68, 0.75);
    -moz-box-shadow: 0px 5px 17px 4px rgba(68, 68, 68, 0.75);
    -webkit-box-shadow: 0px 5px 17px 4px rgba(68, 68, 68, 0.75);
}

.navbar-nav {
    min-width: fit-content;
    text-transform: uppercase;
    letter-spacing: 7.04px;
    font-size: 1rem;

    .nav-item a {
        color: white;
        margin: 0 1rem;
        &:hover {
            color: $black;
        }
    }
    @media (min-width: 1024px) {
        text-align: center;
    }
}

.navbar-brand {
    color: white;
}

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
section {
    padding: 0 3rem;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    align-items: center;

    .section-title {
        text-align: center;
        padding: 0rem;

        h2 {
            /*name of section */
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 1.25rem;
            padding-bottom: 1.25rem;
            position: relative;
            color: $dark-blue;

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 7.75rem;
                height: 1px;
                background: $grey;
                bottom: 1px;
                left: calc(50% - 3.75rem);
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 2.5rem;
                height: 3px;
                background: $dark-blue;
                bottom: 0;
                left: calc(50% - 1.25rem);
            }
        }

        h4 {
            text-transform: uppercase;
            margin-bottom: 14px;
            margin-top: 14px;
            padding-left: 6rem;
            position: relative;
            color: $grey;
            font-weight: bold;
            text-align: start;
            font-size: 1.5rem;

            @media (max-width: 940px) {
                margin-bottom: 7rem;
                padding-left: 5rem;
            }

            @media (max-width: 420px) {
                margin-bottom: 5rem;
            }
        }

        p {
            margin: auto;
            width: 90%;
        }
    }
}

/*--------------------------------------------------------------
  # DevCard
  --------------------------------------------------------------*/

.introduction {
    padding: 0 0 2rem 0;
    display: flex;
    align-items: center;
    text-align: justify;

    &.text-left {
        text-align: left;
        padding: 0;
    }
}

.limit {
    justify-content: $limit-justify-content;
    align-items: $limit-align-items;
    display: flex;
    flex-direction: column;
}

.devcard {
    justify-content: $devcard-justify-content;
    padding: 0rem;
    min-width: 30rem;
    margin: 2rem auto;

    @media (max-width: 1200px) {
        width: 90%;
        margin: auto;
        justify-content: center;
        padding: 3rem 1rem;
        min-width: 50px;
        width: 85%;
    }
}

.info-summary {
    flex-direction: column;
}

.about-me {
    padding: 0 3rem 1rem 3rem;
    margin: 4rem 0 0 0;
    text-align: center;
    width: 100%;

    @media (max-width: 1200px) {
        margin: 0;
        padding: 0 3rem 1rem 3rem;
    }
}
/*--------------------------------------------------------------
  # Images
  --------------------------------------------------------------*/
.images {
    display: flex;
    width: 100%;

    @media (max-width: 1654px) {
        display: block;
    }
}

/*--------------------------------------------------------------
  # Info Summary
  --------------------------------------------------------------*/
#social-badges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    img {
        margin: 10px;
        height: 2rem;
    }
}

#threeD-commit {
    width: 65%;

    @media (max-width: 768px) {
        width: 90%;
    }

    @media (max-width: 1200px) {
        width: 75%;
    }
}

/*--------------------------------------------------------------
  # Commit Graph
  --------------------------------------------------------------*/
.git-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    max-width: 100rem;
    width: 75%;
    img {
        width: 75%;
    }
}

/*--------------------------------------------------------------
  # Experience
  --------------------------------------------------------------*/
.experience {
    margin: 1rem -3.5rem;
    text-align: left;

    section {
        margin: 1.25rem 0;
    }

    p {
        margin-left: 4rem;
    }
}

.skills-list {
    margin-left: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    &.links {
        display: inline-flex;
    }

    .btn {
        background-color: $light-blue;
        color: $dark-blue;
        margin-bottom: 5px;
        border-radius: 2px;
        text-transform: uppercase;
        height: fit-content;
    }

    .keys {
        position: absolute;
        top: -2.75rem;
        left: 239px;
        height: fit-content;
    }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

.site-footer {
    background-color: $grey;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 2rem;
    color: $grey;
    hr {
        /*line across*/
        border-top-color: $light-blue;
        opacity: 0.5;
    }
    h6 {
        /*category names*/
        color: $light-blue;
        text-transform: uppercase;
        font-size: 3rem;
        margin-top: 5px;
        margin-bottom: 1rem;
        letter-spacing: 14px;
    }
    p {
        text-align: justify;
        color: $white;
        @media only screen and (max-width: 991px) {
            margin-right: 1.25rem;
            margin-top: 15px;
        }
    }
    a {
        /*the hyperlinks*/
        color: $light-blue;
        text-decoration: none;
        letter-spacing: 5px;
        margin-right: 10px;
        @media (max-width: 32.5rem) {
            margin-right: 25px;
        }
        &:active + .vanish,
        &:focus + .vanish,
        &:hover + .vanish {
            align-items: center;
            position: absolute;
            visibility: visible;
            display: inline-block;
            left: -33px;
        }
    }
    .vanish {
        color: $white;
        display: none;
        font-size: 22px;
        @media only screen and (max-width: 991px) {
            color: $dark-blue;
            display: inline-block;
            align-items: center;
            position: relative;
            left: -7px;
        }
    }
    .copyright-text {
        /* small text to left of icons */
        margin: 0;
        text-align: right;
        @media only screen and (max-width: 991px) {
            text-align: center;
        }
        a {
            @media only screen and (max-width: 767px) {
                margin-right: 0;
            }
        }
    }
    .social-icons {
        /*icons at the end */
        display: contents;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
            display: inline-block;
            margin: 10px 5px;
        }
        a {
            /*links within the icons */
            width: 3.5rem;
            height: 3.5rem;
            line-height: 3.25rem;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 100%;
            background-color: #33353d;
            color: #818a91;
            display: inline-block;
            text-align: center;
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
            font-size: 2rem;
            i {
                padding: 0.75rem;
            }
            &.linkedin {
                &:hover {
                    color: $white;
                    background-color: $linkedin;
                }
                @media screen and (max-width: 767px) {
                    color: $white;
                    background-color: $linkedin;
                }
            }
            &.devto {
                &:hover {
                    color: $white;
                    background-color: $genuine_black;
                }
                @media screen and (max-width: 767px) {
                    color: $genuine_black;
                    background-color: $white;
                }
            }
            &.twitter {
                &:hover {
                    color: $white;
                    background-color: $twitter;
                }
                @media screen and (max-width: 767px) {
                    background-color: $white;
                    color: $twitter;
                }
            }
            &.codepen {
                &:hover {
                    color: $genuine_black;
                    background-color: $white;
                }
                @media screen and (max-width: 767px) {
                    color: $genuine_black;
                    background-color: $white;
                }
            }
            &.github {
                &:hover {
                    background-color: $white;
                    color: $grey;
                }
                @media screen and (max-width: 767px) {
                    background-color: $white;
                    color: $grey;
                }
            }
            &.gmail {
                &:hover {
                    color: $white;
                    background-color: $gmail;
                }
                @media screen and (max-width: 767px) {
                    color: $white;
                    background-color: $gmail;
                }
            }
        }
        @media only screen and (max-width: 991px) {
            display: block;
        }
    }
    .keys {
        height: 5rem;
        margin-bottom: 2rem;
        float: right;
    }
    @media only screen and (max-width: 767px) {
        padding-bottom: 0;
    }
}

.footer-links {
    /* ul element itself */
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    li {
        /* list elements */
        display: block;
        margin-left: 3.125rem;
        position: relative;
    }
    @media (max-width: 520px) {
        display: block;
        margin: auto;
        padding: auto;
    }
    @media only screen and (max-width: 991px) {
        gap: 0rem;
        left: -5%;
        position: relative;
    }
}
