$cloud-line-height: 1.5rem;
$cloud-width: 80%;
$cloud-height: 15.625rem;
$size: 4;
$color: #a33;

ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: $cloud-line-height;
    width: $cloud-width;
    height: $cloud-height;

    a {

        color: $color;
        font-size: calc($size * 0.25rem + 0.5rem);
        display: block;
        padding: 2px 4px;
        position: relative;
        text-decoration: none;
        &[data-weight="0"] {
            $size: 0.5;
        }

        &[data-weight="1"] {
            $size: 1;
        }

        &[data-weight="2"] {
            $size: 2;
        }

        &[data-weight="3"] {
            $size: 3;
        }

        &[data-weight="4"] {
            $size: 4;
        }

        &[data-weight="5"] {
            $size: 6;
        }

        &[data-weight="6"] {
            $size: 8;
        }

        &[data-weight="7"] {
            $size: 10;
        }

        &[data-weight="8"] {
            $size: 13;
        }

        &[data-weight="9"] {
            $size: 16;
        }

        &:focus {
            outline: 1px dashed;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 100%;
            background: $color;
            transform: translate(-50%, 0);
            opacity: 0.15;
            transition: width 0.25s;
        }

        &:focus::before,
        &:hover::before {
            width: 100%;
        }
    }
    li:nth-child(2n + 1) a {
        $color: rgb(27, 194, 27);
    }

    li:nth-child(3n + 1) a {
        $color: rgb(80, 80, 224);
    }

    li:nth-child(4n + 1) a {
        $color: rgb(240, 84, 57);
    }

    li:nth-child(5n-1) a {
        $color: rgb(51, 194, 204);
    }

    li:nth-child(6n + 1) a {
        $color: rgb(223, 119, 21);
    }

    &[data-show-value] a::after {
        content: " (" attr(data-weight) ")";
        font-size: 1rem;
    }

    @media (prefers-reduced-motion) {
        * {
            transition: none !important;
        }
    }
}

.svg-container {
    position: relative;
    height: 31.25rem;
    overflow-x: hidden;

    svg {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.35;
    }
}

#metro {
    stroke-dasharray: 40 60;
    animation: metro 17s linear infinite;
}

#jokeri {
    stroke-dasharray: 20 60;
    animation: jokeri 7s linear infinite;
}

#juna {
    stroke-dasharray: 40 100;
    animation: j;
}
