/*Logo carousel*/
.carousel-products {
    display: flex;
    width: 100%;
}

.carousel-products .products-wrap {
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-products .products-wrap ul {
    display: block;
    list-style: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.carousel-products .products-wrap ul li {
    display: block;
    float: left;
    position: relative;
    width: 350px;
    height: 450px;
    line-height: 100%;
    text-align: center;
    overflow: hidden;
}
.carousel-products .products-wrap ul li img {
    vertical-align: middle;
}
.carousel-products .products-wrap ul li img:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.products-list li .item {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    text-align: center;
}

.products-list li .item .prodHover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: block;
    transition: all ease 0.5s;
    background-color: transparent;
    color: transparent;
    font-size: 22px;
    font-weight: 600;
}

/* Product Name */
.products-list li .item .prodName {
    height: 20px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    color: grey;
    font-size: 16px;
    display: block;
    z-index: 3;
}

/* Product Image */
.products-list li .item .prodImg {
    transform: scale(1);
    transition:
        transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        -webkit-transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: -webkit-transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Hover */
.products-list li .item:hover .prodImg {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.products-list li .item:hover .prodHover {
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    z-index: 2;
}

/* Bullets */
.carousel-products .prod-breadcrump {
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: center;
}

.carousel-products .prod-breadcrump .bullets {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    border: black thin solid;
    background-color: white;
    cursor: pointer;
    margin-right: 5px;
}

.carousel-products .prod-breadcrump .bullets.actif {
    background-color: black;
}
