$dark-blue: #25569b;
$grey: #707070;
$python: #5ea9eb;
$javascript: #f0d44c;
$mongodb: #0da31a;
$mysql: #5369be;
$java: #d50308;
$scss: #d742f5;
$box-shadow: #b4b4b4;
$font-size: 2rem;

ul {
    text-align: left;
    margin-left: 2rem;
}

.languages {
    position: relative;
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin: auto;
    align-items: flex-end;
    i {
        font-size: $font-size;
        &.bxl-java {
            color: $java;
        }
        &.bxl-javascript {
            color: $javascript;
        }
        &.bxl-python {
            color: $python;
        }
        &.bxl-mongodb {
            color: $mongodb;
        }
        &.bxl-sass {
            color: $scss;
        }
        &.bxs-data {
            color: $mysql;
        }
    }
}
