#featured-articles,
#blog-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    align-items: center;
    flex-direction: row;
}

#featured-articles li,
#blog-list li {
    margin: 0.5rem 2rem;
    min-width: 350px;
}

@media (max-width: 420px) {
    #featured-articles li,
    #blog-list li {
        min-width: 300px;
    }
}

#featured-articles .url,
#blog-list .url {
    color: var(--dark-blue);
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 6px rgba(51, 51, 51, 0.2));
}

#featured-articles .url:hover,
#blog-list .url:hover {
    color: var(--grey);
    filter: drop-shadow(0px 4px 6px rgba(51, 51, 51, 0.4));
}

#featured-articles .cover,
#blog-list .cover {
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

#featured-articles .info,
#blog-list .info {
    display: flex;
    flex-direction: column;
    min-height: 175px;
    height: max-content;
    background: #fff;
    border-radius: 0 0 15px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#featured-articles .info .title,
#blog-list .info .title {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding-bottom: 0;
    position: absolute;
}

#featured-articles .info .updated,
#blog-list .info .updated {
    color: var(--dark-blue);
    padding: 0;
    margin: 0;
    position: relative;
    top: 1rem;
}

#featured-articles .info .reading-time,
#blog-list .info .reading-time {
    color: var(--dark-blue);
    position: relative;
    bottom: -60px;
}