.devcard {
  position: relative;
  overflow: hidden;
  margin: 10px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5%/3.5%;
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center; }
  .devcard:before {
    background-position: 50% 50%;
    background-size: 300% 300%;
    opacity: 0.5;
    filter: brightness(0.5) contrast(1);
    z-index: 1; }
  .devcard:after {
    opacity: 0.5;
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 80% 80%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all 0.33s ease;
    mix-blend-mode: color-dodge;
    opacity: 0.5; }
  .devcard.animated {
    transition: none;
    -webkit-animation: holoCard 12s ease 0s 1;
    animation: holoCard 12s ease 0s 1; }
    .devcard.animated:before {
      transition: none;
      -webkit-animation: holoGradient 12s ease 0s 1;
      animation: holoGradient 12s ease 0s 1; }
    .devcard.animated:after {
      transition: none;
      -webkit-animation: holoSparkle 12s ease 0s 1;
      animation: holoSparkle 12s ease 0s 1; }

.devcard:before,
.devcard:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.25;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease; }

.devcard.active:after,
.devcard:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1; }

.devcard.active,
.devcard:hover {
  -webkit-animation: none;
  animation: none;
  transition: box-shadow 0.1s ease-out; }

.devcard.active:before,
.devcard:hover:before,
.devcard.active:after,
.devcard:hover:after {
  -webkit-animation: none;
  animation: none;
  transition: none; }

@-webkit-keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25); }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg); }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg); }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg); }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg); } }

@-webkit-keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1); } }

@-webkit-keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg); } }
