/* icons and fonts */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Playfair+Display:wght@900&display=swap");
/*--------------------------------------------------------------
  # Variables
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth; }

html {
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  font-family: "Playfair Display", serif;
  width: 100%; }
  body p {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 1.25rem; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body ul,
  body li {
    font-family: "Playfair Display", serif; }

/*--------------------------------------------------------------
  # Buttons
--------------------------------------------------------------*/
.btn {
  background: none;
  border: solid 2px #707070;
  color: #707070;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 175ms ease;
  -moz-transition: all 175ms ease;
  -ms-transition: all 175ms ease;
  -o-transition: all 175ms ease;
  transition: all 175ms ease; }
  .btn:hover {
    background: #707070;
    color: #f2f3eb; }

/*--------------------------------------------------------------
  # Images
--------------------------------------------------------------*/
img {
  max-width: 100%;
  object-fit: contain; }

/*--------------------------------------------------------------
  # Links
--------------------------------------------------------------*/
a {
  color: #25569b;
  text-decoration: none; }
  a:hover {
    color: #707070; }

.cursor-muted {
  cursor: unset; }

/*--------------------------------------------------------------
  # Navigation Bar (Desktop)
--------------------------------------------------------------*/
.navbar {
  min-width: fit-content;
  text-transform: uppercase;
  letter-spacing: 7.04px;
  font-size: 1rem;
  padding: 1rem 4rem;
  margin: auto;
  width: 100%;
  display: flex;
  gap: 2rem;
  border-bottom: 0.125px solid #707070; }
  .navbar .navbar-brand {
    color: #161313; }
  .navbar .nav-item {
    color: black;
    margin: 0 1rem; }
    .navbar .nav-item:hover {
      color: #707070; }
  @media (min-width: 1024px) {
    .navbar {
      text-align: center; } }

.navbar-brand {
  color: white; }

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
.row {
  border-bottom: 0.25px solid grey; }

section {
  overflow: hidden;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  margin: 1.5rem; }
  section .section-title {
    text-align: center;
    padding: 0rem;
    padding-top: 1rem;
    border-left: 0.25px solid grey !important;
    border-right: 0.25px solid grey !important;
    min-width: 20rem;
    min-height: 100%; }
    section .section-title h2 {
      /*name of section */
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 7px;
      text-transform: uppercase;
      margin-bottom: 1.25rem;
      padding-bottom: 1.25rem;
      position: relative;
      color: #25569b; }
      section .section-title h2::before {
        content: "";
        position: absolute;
        display: block;
        width: 7.75rem;
        height: 1px;
        background: #707070;
        bottom: 1px;
        left: calc(50% - 3.75rem); }
      section .section-title h2::after {
        content: "";
        position: absolute;
        display: block;
        width: 2.5rem;
        height: 3px;
        background: #25569b;
        bottom: 0;
        left: calc(50% - 1.25rem); }
    section .section-title h4 {
      text-transform: uppercase;
      margin-bottom: 14px;
      margin-top: 14px;
      padding-left: 4rem;
      position: relative;
      color: #707070;
      font-weight: bold;
      text-align: start;
      font-size: 1.5rem; }
      @media (max-width: 940px) {
        section .section-title h4 {
          margin-bottom: 7rem;
          padding-left: 5rem; } }
      @media (max-width: 420px) {
        section .section-title h4 {
          margin-bottom: 5rem; } }
    section .section-title p {
      margin: auto;
      width: 90%;
      text-align: left; }

/*--------------------------------------------------------------
  # Images
  --------------------------------------------------------------*/
.images {
  display: flex;
  width: 100%; }
  @media (max-width: 1654px) {
    .images {
      display: block; } }

/*--------------------------------------------------------------
  # Commit Graph
  --------------------------------------------------------------*/
.git-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  max-width: 100rem;
  width: 75%; }
  .git-history img {
    width: 75%; }

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
.site-footer {
  font-size: 15px;
  line-height: 2rem;
  color: #707070;
  display: flex;
  justify-content: space-around; }
  .site-footer h6 {
    /*category names*/
    color: #87e3fe;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 1rem;
    letter-spacing: 14px; }
  .site-footer p {
    text-align: justify;
    color: #eeecec; }
    @media only screen and (max-width: 991px) {
      .site-footer p {
        margin-right: 1.25rem;
        margin-top: 15px; } }
  .site-footer .copyright-text {
    /* small text to left of icons */
    margin: 0;
    text-align: right; }
    @media only screen and (max-width: 991px) {
      .site-footer .copyright-text {
        text-align: center; } }
    @media only screen and (max-width: 767px) {
      .site-footer .copyright-text a {
        margin-right: 0; } }
  .site-footer .container-fluid {
    margin: 60px auto;
    position: relative; }
    .site-footer .container-fluid .section-title {
      border: none !important; }
      .site-footer .container-fluid .section-title form {
        margin: 50px 0;
        width: 50rem; }
  @media only screen and (max-width: 767px) {
    .site-footer {
      padding-bottom: 0; } }

.footer-links {
  padding-left: 0;
  padding-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem; }
  .footer-links li {
    margin-left: 3.125rem;
    position: relative; }
    .footer-links li a {
      color: #161313; }
      .footer-links li a:hover + .bxl-linkedin {
        color: #eeecec;
        background-color: #0a66c2;
        visibility: visible; }
      .footer-links li a:hover + .bx-code-block {
        color: #707070;
        visibility: visible; }
      .footer-links li a:hover + .bxl-github {
        color: #707070;
        visibility: visible; }
      .footer-links li a:hover + .bxs-briefcase-alt-2 {
        visibility: visible;
        color: #161313; }
    .footer-links li i {
      visibility: hidden;
      font-size: 1.25rem; }
      @media (max-width: 767px) {
        .footer-links li i.bxl-linkedin {
          color: #eeecec;
          background-color: #0a66c2;
          visibility: visible; } }
      @media (max-width: 767px) {
        .footer-links li i.bx-code-block {
          color: #707070;
          visibility: visible; } }
      @media (max-width: 767px) {
        .footer-links li i.bxl-github {
          background-color: #eeecec;
          color: #707070;
          visibility: visible; } }
      @media (max-width: 767px) {
        .footer-links li i.bxs-briefcase-alt-2 {
          background-color: #eeecec;
          color: #161313;
          visibility: visible; } }
  @media (max-width: 520px) {
    .footer-links {
      display: block;
      margin: auto;
      padding: auto; } }
  @media only screen and (max-width: 991px) {
    .footer-links {
      gap: 0rem;
      left: -5%;
      position: relative; } }
