ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  width: 80%;
  height: 15.625rem; }
  ul.cloud a {
    color: #a33;
    font-size: calc($size * 0.25rem + 0.5rem);
    display: block;
    padding: 2px 4px;
    position: relative;
    text-decoration: none; }
    ul.cloud a:focus {
      outline: 1px dashed; }
    ul.cloud a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 100%;
      background: #a33;
      transform: translate(-50%, 0);
      opacity: 0.15;
      transition: width 0.25s; }
    ul.cloud a:focus::before, ul.cloud a:hover::before {
      width: 100%; }
  ul.cloud[data-show-value] a::after {
    content: " (" attr(data-weight) ")";
    font-size: 1rem; }
  @media (prefers-reduced-motion) {
    ul.cloud * {
      transition: none !important; } }

.svg-container {
  position: relative;
  height: 31.25rem;
  overflow-x: hidden; }
  .svg-container svg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.35; }

#metro {
  stroke-dasharray: 40 60;
  animation: metro 17s linear infinite; }

#jokeri {
  stroke-dasharray: 20 60;
  animation: jokeri 7s linear infinite; }

#juna {
  stroke-dasharray: 40 100;
  animation: j; }
