ul {
  text-align: left;
  margin-left: 2rem; }

.languages {
  font-size: 2rem;
  position: relative;
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin: auto;
  align-items: flex-end;
  color: #25569b; }
