html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  background-color: #f2eee7;
  font-family: "Merienda", cursive; }

img {
  width: 100%;
  padding: 2rem; }

a {
  text-decoration: none;
  color: #181f1c; }
  a:hover {
    color: #ff934f; }

ul {
  margin: 0px;
  padding: 0px; }

.btn {
  font-family: "Merienda", cursive;
  background-color: #ff934f;
  color: #f2eee7;
  padding: 1rem;
  font-weight: 600;
  border-radius: 50px; }
  .btn:hover {
    transition: cubic-bezier(1, 0, 0, 1) 50ms;
    background-color: #059259; }

nav {
  font-family: "Titillium Web", sans-serif;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem; }
  nav .nav-item {
    font-weight: 900;
    text-decoration: none !important;
    font-size: 2rem;
    color: #181f1c;
    text-transform: uppercase; }

.hero-section {
  padding: 3rem;
  position: relative; }
  .hero-section h1 {
    font-size: 7rem; }

#flip {
  height: 10rem;
  overflow: hidden; }
  #flip div div {
    padding: 4px 12px;
    margin-bottom: 45px;
    display: inline-block; }
  #flip div:first-child {
    animation: show 5s linear infinite; }
  #flip div:nth-child(2n-1) div {
    color: #059259; }
  #flip div:nth-child(2n) div {
    color: #ff934f; }

section {
  position: relative;
  display: flex;
  margin: 2rem;
  padding: 2rem 0; }
  section .section-title {
    padding: 1rem;
    width: 50%; }
    section .section-title h1 {
      font-size: 4rem;
      background-color: #f2eee7;
      width: fit-content;
      text-wrap: nowrap; }
      section .section-title h1 + .line {
        border: 1px solid black;
        width: 90vw;
        position: absolute;
        height: max-content;
        margin-left: 5rem;
        margin-top: -2.5rem;
        z-index: -1; }
      section .section-title h1.right {
        position: absolute;
        right: 0;
        top: -1.5rem; }
    section .section-title h3 {
      font-size: 1.5rem; }
    section .section-title p {
      font-family: "Titillium Web", sans-serif; }
    section .section-title.right {
      right: 0; }
    section .section-title.left {
      left: 0; }

.footer-section {
  background: #f2eee7;
  border-top: 5px solid #181f1c;
  position: relative; }

.footer-cta {
  border-bottom: 1px solid #504746; }

.single-cta i {
  color: #ff934f;
  font-size: 30px;
  float: left;
  margin-top: 8px; }

.cta-text {
  padding-left: 15px;
  display: inline-block; }
  .cta-text h4 {
    color: #181f1c;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px; }
  .cta-text span {
    color: #504746;
    font-size: 15px; }

.footer-content {
  position: relative;
  z-index: 2; }

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%; }

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #504746;
  line-height: 28px; }

.footer-widget-heading h3 {
  color: #181f1c;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative; }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff934f; }

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px; }
  .footer-widget ul li a {
    color: #504746;
    text-transform: capitalize; }
    .footer-widget ul li a:hover {
      color: #ff934f; }

.copyright-area {
  background: #202020;
  padding: 25px 0; }
  .copyright-area .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #504746; }
    .copyright-area .copyright-text p a {
      color: #ff934f; }

.footer-menu li {
  display: inline-block;
  margin-left: 20px; }
  .footer-menu li a {
    font-size: 14px;
    color: #504746; }
  .footer-menu li:hover a {
    color: #ff934f; }

@keyframes show {
  0% {
    margin-top: -33.75rem; }
  5% {
    margin-top: -22.5rem; }
  33% {
    margin-top: -22.5rem; }
  38% {
    margin-top: -11.25rem; }
  66% {
    margin-top: -11.25rem; }
  71% {
    margin-top: 0rem; }
  99.99% {
    margin-top: 0rem; }
  100% {
    margin-top: -33.75rem; } }
