html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body {
  background-color: #f2eee7;
  font-family: "Merienda", cursive; }

a {
  text-decoration: none;
  color: #181f1c; }
  a:hover {
    color: #ff934f; }

.btn {
  font-family: "Merienda", cursive;
  background-color: #ff934f;
  color: #f2eee7;
  padding: 1rem;
  font-weight: 600;
  border-radius: 50px; }
  .btn:hover {
    transition: cubic-bezier(1, 0, 0, 1) 50ms;
    background-color: #059259; }

nav {
  font-family: "Titillium Web", sans-serif;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }
  nav .nav-item {
    font-weight: 900;
    text-decoration: none !important;
    font-size: 2rem;
    color: #181f1c; }

.hero-section {
  padding: 2rem;
  position: relative; }
  .hero-section h1 {
    font-size: 7rem; }

#flip {
  height: 10rem;
  overflow: hidden; }
  #flip div div {
    padding: 4px 12px;
    margin-bottom: 45px;
    display: inline-block; }
  #flip div:first-child {
    animation: show 5s linear infinite; }
  #flip div:nth-child(2n-1) div {
    color: #059259; }
  #flip div:nth-child(2n) div {
    color: #ff934f; }

@keyframes show {
  0% {
    margin-top: -33.75rem; }
  5% {
    margin-top: -22.5rem; }
  33% {
    margin-top: -22.5rem; }
  38% {
    margin-top: -11.25rem; }
  66% {
    margin-top: -11.25rem; }
  71% {
    margin-top: 0rem; }
  99.99% {
    margin-top: 0rem; }
  100% {
    margin-top: -33.75rem; } }

section {
  position: relative;
  margin: 2rem;
  display: flex; }
  section .section-title {
    padding: 1rem;
    width: 50%; }
    section .section-title h1 {
      font-size: 1.5rem; }
    section .section-title p {
      font-family: "Titillium Web", sans-serif; }
    section .section-title.right {
      right: 0; }
    section .section-title.left {
      left: 0; }
