.main-carousel {
  height: 700px; }

.testimonial-slide {
  top: 0;
  right: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  align-self: center;
  text-align: center; }
  .testimonial-slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    padding: 0;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23); }
  .testimonial-slide p {
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
    font-family: "Titillium Web", sans-serif; }
  .testimonial-slide cite {
    font-size: 22px; }
    .testimonial-slide cite span {
      color: #059259;
      font-weight: bold;
      font-family: "Titillium Web", sans-serif; }
