.describe {
  position: relative;
  height: 6rem; }

.content {
  position: relative; }
  .content h2 {
    font-size: 4em;
    display: inline-block;
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(-50%, -100%);
    text-wrap: nowrap;
    animation: move 20s infinite linear;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 2.425rem; }
  .content h2:nth-child(2) {
    position: absolute;
    top: 0;
    margin-top: 0rem;
    transform: translate(50%, -50%);
    animation: move 20s infinite linear; }

@keyframes move {
  from {
    left: 50%; }
  to {
    left: -50%; } }
