.cards-container {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: auto;
}
.parent {
    width: 300px;
    padding: 1rem;
}

.card {
    transform-style: preserve-3d;
    background-position: center center;
    width: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 25px;

    &:hover {
        background-position: 80% 20%;
        transform: rotate3d(0.5, 1, 0, 10deg);
    }
}

.content-box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.811);
    transition: all 0.5s ease-in-out;
    padding: 50px 25px 25px 25px;
    transform-style: preserve-3d;
    border-radius: 25px;

    .card-title {
        color: white;
        font-size: 25px;
        font-weight: 900;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0px, 0px, 20px);
    }

    .card-content {
        padding-top: 15px;
        font-size: 1rem;
        color: rgb(185, 185, 185);
        transition: all 0.5s ease-in-out;
        transform: translate3d(0px, 0px, 20px);
    }

    .see-more {
        display: block;
        font-weight: 900;
        font-size: 11px;
        text-transform: uppercase;
        color: var(--green);
        padding-top: 15px;
        transition: all 0.5s ease-in-out;
        transform: translate3d(0px, 0px, 20px);
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        border-radius: 10px;

        &:hover {
            transform: translate3d(0px, 0px, 50px);
            border: 1px solid rgb(255, 255, 255);
        }
    }
}