.outer-container {
    position: absolute;
    left: 25%;
    top: 20%;
    width: 800px;
    height: 800px;
}
.container {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: relative;
    animation:
        rotate 25s 1s linear infinite,
        opacityAnim 1s 1s linear forwards;
    opacity: 0;
}

.container > img {
    position: absolute;
    top: 44%;
    left: 44%;
    width: 80px;
}

.img1 {
    transform: translateX(333.33333%) rotate(0deg);
}

.img2 {
    transform: translateX(-333.33333%) rotate(-90deg);
}

.img3 {
    transform: translateY(333.33333%) rotate(180deg);
}

.img4 {
    transform: translateY(-333.33333%);
}

.img5 {
    transform: translateX(235.7022%) translateY(235.7022%) rotate(135deg);
}
.img6 {
    transform: translateX(-235.7022%) translateY(235.7022%) rotate(-135deg);
}
.img7 {
    transform: translateX(-235.7022%) translateY(-235.7022%) rotate(-45deg);
}
.img8 {
    transform: translateX(235.7022%) translateY(-235.7022%) rotate(45deg);
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(-50%) translatey(-50%);
    width: 200px;
    opacity: 0;
    animation:
        calibration 4s 1s ease-in infinite,
        opacityAnim 1s linear forwards;
}

@keyframes opacityAnim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
