$white: #f2eee7;
$off-white: #ecdcb0;
$green: #059259;
$orange: #ff934f;
$black: #181f1c;
$light-brown: #504746;
$font-family: "Titillium Web", sans-serif;
$font-family-0: "Merienda", cursive;
$border: 1px solid $black;

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: $white;
    font-family: $font-family-0;
}

img {
    width: 100%;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        color: $orange;
    }
}

ul {
    margin: 0px;
    padding: 0px;
    li {
        font-family: $font-family;
        b {
            font-family: $font-family-0;
            font-size: larger;
        }
    }
}

.btn {
    font-family: $font-family;
    background-color: $orange;
    color: $white;
    padding: .5rem 1rem;
    font-weight: 600;
    border-radius: 50px;
    text-transform: uppercase;

    &:hover {
        transition: cubic-bezier(1, 0, 0, 1) 50ms;
        background-color: $green;
    }
}

nav {
    font-family: $font-family;
    width: 90%;
    margin: auto;
    margin-top: 2rem;

    .nav-item {
        font-weight: 900;
        text-decoration: none !important;
        font-size: 2rem;
        color: $black;
        text-transform: uppercase;
    }
}

.hero-section {
    padding: 3rem;
    position: relative;
    h1 {
        font-size: 7rem;
    }
}

#flip {
    height: 10rem;
    overflow: hidden;
    div {
        div {
            padding: 4px 12px;
            margin-bottom: 45px;
            display: inline-block;
        }
        &:first-child {
            animation: show 5s linear infinite;
        }
        &:nth-child(2n-1) div {
            color: $green;
        }
        &:nth-child(2n) div {
            color: $orange;
        }
    }
}

.store-front {
    position: relative;
    .section-title {
        width: 100%;
        padding: 0;
    }
}

@media (min-width: 1708px) {
    .right {
        position: absolute;
        top: -18rem;
        left: 0;
    }
}

section {
    position: relative;
    display: flex;
    padding: 2rem 1rem;

    .section-title {
        padding: 1rem;
        width: 50%;
        h1 {
            margin: 0 1rem;
            font-size: 4rem;
            background-color: $white;
            width: fit-content;
            text-wrap: nowrap;
            // wrap on medium and small screens
            + .line {
                border: 1px solid black;
                width: 90vw;
                position: absolute;
                height: max-content;
                margin-left: 5rem;
                margin-top: -2.5rem;
                z-index: -1;
            }
            &.right {
                position: absolute;
                right: 0;
                top: -1.5rem;
            }
        }

        h3 {
            font-size: 1.5rem;
        }

        p {
            font-family: $font-family;
        }
        &.right {
            right: 0;
        }
        &.left {
            left: 0;
        }
    }
}

.project {
    img {
        width: 50em;
    }
}

@media (max-width: 786px) {
    .project {
        img {
            width: 30em;
        }
    }
}

.footer-section {
    background: $white;
    border-top: 5px solid $black;
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid $light-brown;
}
.single-cta i {
    color: $orange;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
    h4 {
        color: $black;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 2px;
    }
    i {
        color: $light-brown;
        font-size: 2rem;
        padding-right: 1.5rem;
        &:hover {
            color: $orange;
        }
    }
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: $light-brown;
    line-height: 28px;
}
.footer-widget-heading h3 {
    color: $black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -15px;
        height: 2px;
        width: 50px;
        background: $orange;
    }
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
    a {
        color: $light-brown;
        text-transform: capitalize;
        &:hover {
            color: $orange;
        }
    }
}
.copyright-area {
    background: #202020;
    padding: 25px 0;
    .copyright-text {
        p {
            margin: 0;
            font-size: 14px;
            color: $light-brown;
            a {
                color: $orange;
            }
        }
    }
}

.footer-menu {
    li {
        display: inline-block;
        margin-left: 20px;
        a {
            font-size: 14px;
            color: $light-brown;
        }
        &:hover a {
            color: $orange;
        }
    }
}

@keyframes show {
    0% {
        margin-top: -33.75rem;
    }
    5% {
        margin-top: -22.5rem;
    }
    33% {
        margin-top: -22.5rem;
    }
    38% {
        margin-top: -11.25rem;
    }
    66% {
        margin-top: -11.25rem;
    }
    71% {
        margin-top: 0rem;
    }
    99.99% {
        margin-top: 0rem;
    }
    100% {
        margin-top: -33.75rem;
    }
}
