$white: #f2eee7;
$off-white: #ecdcb0;
$green: #059259;
$orange: #ff934f;
$black: #181f1c;
$light-brown: #504746;
$font-family: "Titillium Web", sans-serif;
$font-family-0: "Merienda", cursive;
$border: 1px solid $black;

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: $white;
    font-family: $font-family-0;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        color: $orange;
    }
}

.btn {
    font-family: $font-family-0;
    background-color: $orange;
    color: $white;
    padding: 1rem;
    font-weight: 600;
    border-radius: 50px;

    &:hover {
        transition: cubic-bezier(1, 0, 0, 1) 50ms;
        background-color: $green;
    }
}

nav {
    font-family: $font-family;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    .nav-item {
        font-weight: 900;
        text-decoration: none !important;
        font-size: 2rem;
        color: $black;
    }
}

.hero-section {
    padding: 2rem;
    position: relative;
    h1 {
        font-size: 7rem;
    }
}

#flip {
    height: 10rem;
    overflow: hidden;
    div {
        div {
            padding: 4px 12px;
            margin-bottom: 45px;
            display: inline-block;

        }
        &:first-child {
            animation: show 5s linear infinite;
        }
        &:nth-child(2n-1) div {
            color: $green;
        }
        &:nth-child(2n) div {
            color: $orange;
        }
    }
}

@keyframes show {
    0% {
        margin-top: -33.75rem;
    }
    5% {
        margin-top: -22.5rem;
    }
    33% {
        margin-top: -22.5rem;
    }
    38% {
        margin-top: -11.25rem;
    }
    66% {
        margin-top: -11.25rem;
    }
    71% {
        margin-top: 0rem;
    }
    99.99% {
        margin-top: 0rem;
    }
    100% {
        margin-top: -33.75rem;
    }
}

section {
    position: relative;
    margin: 2rem;
    display: flex;

    .section-title {
        padding: 1rem;
        width: 50%;

        h1 {
            font-size: 1.5rem;

        }
        p {
            font-family: $font-family;

        }
        &.right {
            right: 0;
        }
        &.left {
            left: 0;
        }
    }
}
