$white: #f2eee7;
$off-white: #ecdcb0;
$green: #059259;
$orange: #ff934f;
$black: #181f1c;
$light-brown: #504746;
$font-family: "Titillium Web", sans-serif;


#portfolio {
    width: 100%;
    max-width: 80%;
    margin: 1rem auto;
}

#portfolio-sort {
    margin: 2rem 4.25rem;
    a {
        color: $white;
        background: #a00;
        display: inline-block;
        padding: 3px 9px;
        text-decoration: none;
        margin-right: 1rem;
        font-size: 1rem;
        &:hover {
            color: #a00;
            background: $white;
            border: 1px solid #a00;
        }
    }
}

#portfolio-content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    gap: 2rem;

    .portfolio-item {
        float: left;
        width: 29%;
        text-align: left;
        padding: 1rem;
        min-height: fit-content;
        position: relative;
        p {
            font-family: $font-family;
        }
        .languages {
            bottom: 0;
            right: 0;
            padding: 1rem;
            position: absolute;
            i {
                font-size: 1.5rem;
            }
        }

    }
    .btn {
        background-color: $green;
        border: 1px solid $green;
        font-family: $font-family;
        &:hover {
            background-color: $white;
            border: 1px solid $green;
        }
    }
}


div[data-cat="a"] {
    background: #ccc;
}

div[data-cat="b"] {
    background: #666;
    color: #fff;
}

div[data-cat="c"] {
    background: #333;
    color: #fff;
}