$white: #f2eee7;
$off-white: #ecdcb0;
$green: #059259;
$orange: #ff934f;
$black: #181f1c;
$light-brown: #504746;

// .testimonial {
//   min-height: 375px;
//   position: relative;
//   padding-top: 50px;
//   padding-bottom: 50px;
//   background-position: center;
//   background-size: cover;
// }

.main-carousel {
  height: 700px;
}

.testimonial-slide {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
  align-self: center;
  img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  }
  p {
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
  }
  cite {
    font-size: 22px;
    span {
      color: $green;
    }
  }
}
