$font-family: "Titillium Web", sans-serif;


.describe {
    position: relative;
    height: 6rem;
}

.content {
    position: relative;
    h2 {
        font-size: 4em;
        position: absolute;
        text-wrap: nowrap;
        transform: translate(-50%, -50%);
        animation: move 20s infinite linear;
        font-family: $font-family;
        text-transform: uppercase;
        font-weight: 600;
    }
}

@keyframes move {
    from {
        left: 50%;
    }
    to {
        left: -50%;
    }
}